<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Minimarket_Presentacion.Properties.Settings.con" connectionString="Data Source=ARTEMISA\SQLEXPRESS;Initial Catalog=DB_Minimarket;Persist Security Info=True;User ID=sistemas;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>